<section class="random-beer">
  <article class="info-random">
    <header>
      <h3>{{this.name}}</h3>
    </header>
  </article> 
  <div class="img-random">
    <img src="{{this.image_url}}"/>
  </div>
 
</section>

